<div class="bg-gray-100 h-full">
  <div
    class="mx-auto max-w-7xl px-20 sm:px-24 lg:px-28 py-10 bg-white overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">

    <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
      <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
        <div class="ml-4 mt-2">
          <h3 class="text-3xl font-medium leading-6 text-gray-900">{{taskList.title}}</h3>
        </div>
        <div class="ml-4 mt-2 flex-shrink-0">
          <button
            class="relative inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
            type="button">
            Add Task
          </button>
        </div>
      </div>
    </div>

    <fieldset>
      <legend class="sr-only">{{taskList.title}}</legend>
      <div *ngFor="let task of taskList.tasks;"
           class="relative flex items-start border-b border-gray-200 hover:bg-gray-50 p-2">
        <div class="flex h-5 self-center">
          <input aria-describedby="comments-description"
                 class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" id="comments"
                 name="comments"
                 type="checkbox">
        </div>
        <div class="ml-3 text-sm">
          <label class="font-medium text-gray-700" for="comments">{{task.name}}</label>
          <p class="text-gray-500" id="comments-description">{{task.detail}}</p>
        </div>
      </div>
    </fieldset>
  </div>
</div>
