<div
  class="mx-auto h-full w-full py-10 px-20 sm:px-24 lg:px-28 bg-white overflow-hidden"
>
  <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
    <div class="flex flex-wrap justify-between sm:flex-nowrap">
      <div class="flex group items-center">
        <h3
          *ngIf="!taskList.editMode"
          class="self-center text-3xl mr-10 font-medium leading-6 text-gray-900"
        >
          {{ taskList.title }}
        </h3>
        <input
          *ngIf="taskList.editMode"
          [(ngModel)]="taskList.title"
          class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-3xl font-medium leading-6 text-gray-900"
          name="task-list-title"
          placeholder="Title"
          type="text"
        />
        <svg
          *ngIf="taskList.icon && !taskList.editMode"
          class="relative -left-4 h-4/5"
          width="20"
          height="20"
          version="2.0"
        >
          <a>
            <use [attr.href]="'#' + taskList.icon" />
          </a>
        </svg>
        <!--Start of Tailwind select solution-->
        <div
          *ngIf="taskList.editMode"
          class="relative inline-block text-left h-full w-[10rem]"
        >
          <div class="ml-10 h-full">
            <button
              (click)="toggleIconDropDown()"
              type="button"
              class="flex content-center justify-between w-full h-full items-center rounded-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
              id="menu-button "
              aria-expanded="true"
              aria-haspopup="true"
            >
              <span *ngIf="!taskList.icon"> Choose icon </span>
              <svg
                *ngIf="taskList.icon"
                class=""
                width="25"
                height="25"
                version="2.0"
              >
                <a class="cursor-pointer">
                  <use [attr.href]="'#' + taskList.icon" />
                </a>
              </svg>

              <svg
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>

          <!--
    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
          <div
            *ngIf="iconDropDown"
            class="absolute right-0 flex flex-col items-center z-10 mt-2 w-[50%] origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
          >
            <svg
              class="hover:bg-sky-600 hover:text-white"
              *ngFor="let icon of iconList"
              (click)="setIcon(icon)"
              (focusout)="toggleIconDropDown()"
              width="40"
              height="40"
              version="2.0"
            >
              <a>
                <use [attr.href]="'#' + icon" />
              </a>
            </svg>
          </div>
        </div>
        <!--End of Tailwind select solution-->
        <div
          (click)="toggleEdit()"
          class="self-center invisible m-2 group-hover:visible p-2 hover:bg-gray-100 hover:text-white active:bg-gray-50 rounded-3xl cursor-pointer"
        >
          <svg
            *ngIf="!taskList.editMode"
            class="h-5 w-5 text-indigo-500 active:text-indigo-200"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            *ngIf="taskList.editMode"
            class="h-5 w-5 text-green-500 active:text-green-200"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.5 12.75l6 6 9-13.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="ml-4 mt-2 flex-shrink-0">
        <button
          (click)="addTask()"
          class="relative inline-flex items-center rounded-md border border-transparent bg-sky-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-sky-500 focus:outline-none focus:ring-2 focus:ring-sky-700 focus:ring-offset-2"
          type="button"
        >
          Add Task
        </button>
      </div>
    </div>
  </div>
  <fieldset *ngIf="taskList.tasks.length > 0">
    <legend class="sr-only">{{ taskList.title }}</legend>
    <app-task-item
      (removeTask)="deleteTask($event)"
      *ngFor="let task of taskList.tasks"
      [task]="task"
    ></app-task-item>
  </fieldset>
  <div
    *ngIf="taskList.tasks.length <= 0"
    class="flex items-center justify-center py-20 text-5xl font-extralight"
  >
    No Tasks
  </div>
</div>
